In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('/home/ironduke/Workspace/AIML-jupyter/dataset/movies.csv')

In [5]:
print(df.head(10))

   movieId                               title  \
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)
5        6                         Heat (1995)
6        7                      Sabrina (1995)
7        8                 Tom and Huck (1995)
8        9                 Sudden Death (1995)
9       10                    GoldenEye (1995)

                                        genres
0  Adventure|Animation|Children|Comedy|Fantasy
1                   Adventure|Children|Fantasy
2                               Comedy|Romance
3                         Comedy|Drama|Romance
4                                       Comedy
5                        Action|Crime|Thriller
6                               Comedy|Romance
7                           Adventure|Children
8                                       Action
9                    Action|Adventure|Thriller

In [9]:
rdf = pd.read_csv('/home/ironduke/Workspace/AIML-jupyter/dataset/ratings.csv')
s = rdf['rating'].isnull().sum()
print("Count ", s)
print("==============")
print(rdf.info())
print("==============")
print(rdf.describe())

Count  0
==============
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB
None
==============
              userId        movieId         rating     timestamp
count  100836.000000  100836.000000  100836.000000  1.008360e+05
mean      326.127564   19435.295718       3.501557  1.205946e+09
std       182.618491   35530.987199       1.042529  2.162610e+08
min         1.000000       1.000000       0.500000  8.281246e+08
25%       177.000000    1199.000000       3.000000  1.019124e+09
50%       325.000000    2991.000000       3.500000  1.186087e+09
75%       477.000000    8122.000000       4.000000  1.435994e+09
max       610.000000  193609.000000       5.000000  1.537799e+09

In [10]:
df = df.sort_values(by='picture')
print(df)

In [11]:
print(df.loc[1])
print("==============")
print(df.iloc[1])
print("==============")
print(df.loc[1:2])

movieId                             2
title                  Jumanji (1995)
genres     Adventure|Children|Fantasy
Name: 1, dtype: object
==============
movieId                             2
title                  Jumanji (1995)
genres     Adventure|Children|Fantasy
Name: 1, dtype: object
==============
   movieId                    title                      genres
1        2           Jumanji (1995)  Adventure|Children|Fantasy
2        3  Grumpier Old Men (1995)              Comedy|Romance

In [12]:
data = pd.merge(df, rdf, on='movieId')

In [14]:
data.groupby('title')['rating'].mean().sort_values()

title
Rust and Bone (De rouille et d'os) (2012)        0.5
The Emoji Movie (2017)                           0.5
The Butterfly Effect 3: Revelations (2009)       0.5
Follow Me, Boys! (1966)                          0.5
The Beast of Hollow Mountain (1956)              0.5
                                                ...
Winnie the Pooh and the Day of Concern (1972)    5.0
Sorority House Massacre II (1990)                5.0
My Love (2006)                                   5.0
Winter in Prostokvashino (1984)                  5.0
Karlson Returns (1970)                           5.0
Name: rating, Length: 9719, dtype: float64

In [15]:
data.groupby('title')['rating'].count().sort_values()

title
'71 (2014)                                                                          1
Latter Days (2003)                                                                  1
Late Shift, The (1996)                                                              1
Late Night with Conan O'Brien: The Best of Triumph the Insult Comic Dog (2004)      1
Late Night Shopping (2001)                                                          1
                                                                                 ...
Matrix, The (1999)                                                                278
Silence of the Lambs, The (1991)                                                  279
Pulp Fiction (1994)                                                               307
Shawshank Redemption, The (1994)                                                  317
Forrest Gump (1994)                                                               329
Name: rating, Length: 9719, dtype: int64

In [16]:
stats = pd.DataFrame(data.groupby('title')['rating'].mean())
stats['count'] = data.groupby('title')['rating'].count()

In [17]:
data = pd.merge(df, rdf, on='movieId')

In [18]:
user_rating_pt = data.pivot_table(index='userId', columns='title', values='rating')

In [19]:
user_rating_pt.head()

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
toy_story_ratings = user_rating_pt['Toy Story (1995)']

In [25]:
similar_movies = user_rating_pt.corrwith(toy_story_ratings)
print(similar_movies)
print("=============")
corr_toy_story = pd.DataFrame(similar_movies, columns=['Correlation'])
print(corr_toy_story)
print("=============")
corr_toy_story.sort_values('Correlation', ascending=False, inplace=True)
print(corr_toy_story)
print("=============")

title
'71 (2014)                                        NaN
'Hellboy': The Seeds of Creation (2004)           NaN
'Round Midnight (1986)                            NaN
'Salem's Lot (2004)                               NaN
'Til There Was You (1997)                         NaN
                                               ...
eXistenZ (1999)                              0.333282
xXx (2002)                                  -0.244733
xXx: State of the Union (2005)               0.129969
¡Three Amigos! (1986)                       -0.387202
À nous la liberté (Freedom for Us) (1931)         NaN
Length: 9719, dtype: float64
=============
                                           Correlation
title
'71 (2014)                                         NaN
'Hellboy': The Seeds of Creation (2004)            NaN
'Round Midnight (1986)                             NaN
'Salem's Lot (2004)                                NaN
'Til There Was You (1997)                          NaN
...                                                ...
eXistenZ (1999)                               0.333282
xXx (2002)                                   -0.244733
xXx: State of the Union (2005)                0.129969
¡Three Amigos! (1986)                        -0.387202
À nous la liberté (Freedom for Us) (1931)          NaN

[9719 rows x 1 columns]
=============
                                                    Correlation
title
Land Before Time III: The Time of the Great Giv...          1.0
Faster Pussycat! Kill! Kill! (1965)                         1.0
Amen. (2002)                                                1.0
Machine Girl, The (Kataude mashin gâru) (2008)              1.0
Waydowntown (2000)                                          1.0
...                                                         ...
Zulu (2013)                                                 NaN
[REC]² (2009)                                               NaN
[REC]³ 3 Génesis (2012)                                     NaN
anohana: The Flower We Saw That Day - The Movie...          NaN
À nous la liberté (Freedom for Us) (1931)                   NaN

[9719 rows x 1 columns]
=============

In [26]:
corr_toy_story = corr_toy_story.join(data.groupby('title')['rating'].count())
corr_toy_story.rename(columns={'rating': 'rating_count'}, inplace=True)

In [27]:
mask = corr_toy_story['rating_count'] > 100
recommendations = corr_toy_story[mask]
recommendations.sort_values('Correlation', ascending=False)
recommendations.iloc[0:4].head()

                         Correlation  rating_count
title
Toy Story (1995)            1.000000           215
Incredibles, The (2004)     0.643301           125
Finding Nemo (2003)         0.618701           141
Aladdin (1992)              0.611892           183